.dashboard-menu {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  
}

.dashboard-menu a,
.dashboard-menu button {
  padding: 5px 5px;
  background: #007bff;
  color: white !important; 
  text-decoration: none;
  border: none !important;
  border-radius: 4px !important;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
}

.dashboard-menu a:hover,
.dashboard-menu button:hover {
  background: #0056b3;
}